<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form name ="f" th:method="post" action="/process_login">
    <label for="username">введи имя пользователя</label>
    <input type="text" id="username" name="username"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="password" id="password" name="password"/>
    <br/>
    <input type="submit" value="login"/>

    <div th:if="${param.error}" style="color: brown">
        Invalid username and password.
    </div>
    </form>

</body>

</html>